:root {
  /* Color styles */
  --m3--sys--light--primary: #9c4044;
  --m3--sys--light--on-primary: #ffffff;
  --m3--sys--light--primary-container: #ffd9d9;
  --m3--sys--light--on-primary-container: #400007;
  --m3--sys--light--secondary: #775656;
  --m3--sys--light--on-secondary: #ffffff;
  --m3--sys--light--secondary-container: #ffdad9;
  --m3--sys--light--on-secondary-container: #2c1515;
  --m3--sys--light--tertiary: #755a2f;
  --m3--sys--light--on-tertiary: #ffffff;
  --m3--sys--light--tertiary-container: #ffddaa;
  --m3--sys--light--on-tertiary-container: #281800;
  --m3--sys--light--error: #ba1b1b;
  --m3--sys--light--error-container: #ffdad4;
  --m3--sys--light--on-error: #ffffff;
  --m3--sys--light--on-error-container: #410001;
  --m3--sys--light--background: #fcfcfc;
  --m3--sys--light--on-background: #211a1a;
  --m3--sys--light--surface: #fcfcfc;
  --m3--sys--light--on-surface: #211a1a;
  --m3--sys--light--surface-variant: #f4dddc;
  --m3--sys--light--on-surface-variant: #534343;
  --m3--sys--light--outline: #857372;
  --m3--sys--light--inverse-on-surface: #fbeeed;
  --m3--sys--light--inverse-surface: #362f2f;
  --m3--sys--light--inverse-primary: #ffb3b3;
  --m3--sys--light--shadow: #000000;
  --m3--sys--dark--primary: #ffb3b3;
  --m3--sys--dark--on-primary: #5f131a;
  --m3--sys--dark--primary-container: #7e2a2f;
  --m3--sys--dark--on-primary-container: #ffd9d9;
  --m3--sys--dark--secondary: #e7bdbc;
  --m3--sys--dark--on-secondary: #442929;
  --m3--sys--dark--secondary-container: #5d3f3f;
  --m3--sys--dark--on-secondary-container: #ffdad9;
  --m3--sys--dark--tertiary: #e4c18d;
  --m3--sys--dark--on-tertiary: #422c05;
  --m3--sys--dark--tertiary-container: #5b431a;
  --m3--sys--dark--on-tertiary-container: #ffddaa;
  --m3--sys--dark--error: #ffb4a9;
  --m3--sys--dark--error-container: #930006;
  --m3--sys--dark--on-error: #680003;
  --m3--sys--dark--on-error-container: #ffdad4;
  --m3--sys--dark--background: #211a1a;
  --m3--sys--dark--on-background: #ede0df;
  --m3--sys--dark--surface: #211a1a;
  --m3--sys--dark--on-surface: #ede0df;
  --m3--sys--dark--surface-variant: #534343;
  --m3--sys--dark--on-surface-variant: #d8c2c1;
  --m3--sys--dark--outline: #9f8c8b;
  --m3--sys--dark--inverse-on-surface: #211a1a;
  --m3--sys--dark--inverse-surface: #ede0df;
  --m3--sys--dark--inverse-primary: #9c4044;
  --m3--sys--dark--shadow: #000000;
}
